<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="crew-menu (crewMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" href="#" th:classappend="${crewMenu == 'info'}? active" th:href="@{'/running-mate/crew/' + ${crew.title}}">
            <i class="fa fa-info-circle"></i> 소개
        </a>
        <a class="nav-item nav-link" href="#" th:classappend="${crewMenu == 'members'}? active" th:href="@{'/running-mate/crew/' + ${crew.title} + '/members'}">
            <i class="fa fa-user"></i> 크루원
        </a>
        <a class="nav-item nav-link" th:classappend="${crewMenu == 'events'}? active" href="#" th:href="@{'/running-mate/crew/' + ${crew.title} + '/events'}">
            <i class="fa fa-calendar"></i> 모임
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${crew.isManager(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${crewMenu == 'settings'}? active" href="#" th:href="@{'/running-mate/crew/' + ${crew.title} + '/settings/description'}">
            <i class="fa fa-cog"></i> 설정
        </a>
    </nav>
</div>
</html>