<div th:fragment="crew-list (crewList)" class="col-sm-12">
    <div class="row">
        <div class="col-md-4" th:each="crew: ${crewList}">
            <div class="card mb-4 shadow-sm">
                <img th:src="${crew.image}" class="card-img-top" th:alt="${crew.title}" >
                <div class="card-body">
                    <a th:href="@{'/running-mate/crew/' + ${crew.title}}" class="text-decoration-none">
                        <h5 class="card-title context" th:text="${crew.title}"></h5>
                    </a>
                    <p class="card-text" th:text="${crew.shortDescription}">Short description</p>
                    <p class="card-text context">
                                <span th:each="tag: ${crew.tags}" class="fw-light font-monospace badge rounded-pill text-bg-info me-3">
                                    <a th:href="@{'/running-mate/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </span>
                        <span th:each="zone: ${crew.zones}" class="fw-light font-monospace badge text-bg-primary me-3">
                                    <a th:href="@{'/running-mate/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}" class="text-white">City</span>
                                    </a>
                                </span>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            <i class="fa fa-user-circle"></i>
                            <span th:text="${crew.memberCount}"></span>명
                        </small>
                        <small class="text-muted date" th:text="${crew.publishedDateTime}">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
