<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
  <ul class="list-unstyled col-10">
    <li class="d-flex mt-3" th:each="member: ${members}">
      <svg th:if="${#strings.isEmpty(member?.filePath)}" th:data-jdenticon-value="${member.nickname}" width="64" height="64" class="rounded border bg-light me-3"></svg>
      <img th:if="${!#strings.isEmpty(member?.filePath)}" th:src="${member?.filePath}" width="64" height="64" class="rounded border me-3"/>
      <div class="flex-shrink-0">
        <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span> <span th:if="${isManager}" class="badge text-bg-primary">관리자</span></h5>
        <span th:text="${member.introduction}"></span>
      </div>
    </li>
  </ul>
</div>