<div th:fragment="update-tags (baseUrl)">
  <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
  <script type="application/javascript" th:inline="javascript">
    $(function() {
      function tagRequest(url, tagTitle) {
        $.ajax({
          dataType: "json",
          autocomplete: {
            enabled: true,
            rightKey: true,
          },
          contentType: "application/json; charset=utf-8",
          method: "POST",
          url: "[(${baseUrl})]" + url,
          data: JSON.stringify({'tagTitle': tagTitle})
        }).done(function (data, status) {
          console.log("${data} and status is ${status}");
        });
      }

      function onAdd(e) {
        tagRequest("/add", e.detail.data.value);
      }

      function onRemove(e) {
        tagRequest("/remove", e.detail.data.value);
      }

      var tagInput = document.querySelector("#tags");
      var tagify = new Tagify(tagInput, {
        pattern: /^.{0,20}$/,
        whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
        dropdown : {
          position: "input",
          enabled: 1 // suggest tags after a single character input
        } // map tags
      });
      tagify.on("add", onAdd);
      tagify.on("remove", onRemove);
    });
  </script>
</div>