<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
    <nav th:replace="fragments/main-nav.html :: main-nav"></nav>
    <div th:replace="fragments/crew/crew-banner.html :: crew-banner"></div>
    <div class="container">
        <div th:replace="fragments/crew/crew-info.html :: crew-info"></div>
        <div th:replace="fragments/crew/crew-menu.html :: crew-menu(crewMenu='settings')"></div>
        <div class="row mt-3 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments/crew/crew-settings-menu.html :: crew-settings-menu(currentMenu='crew')"></div>
            </div>
            <div class="col-8">
                <div th:replace="fragments/message.html :: message"></div>
                <div class="row">
                    <h5 class="col-sm-12">크루 공개 및 종료</h5>
                    <form th:if="${!crew.published && !crew.closed}" class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/status/publish'}" method="post" novalidate>
                        <div class="alert alert-info" role="alert">
                            크루를 다른 사용자에게 공개할 준비가 되었다면 버튼을 클릭하세요.<br/>
                            소개, 배너 이미지, 크루 주제 및 활동 지역을 등록했는지 확인하세요.<br/>
                            크루를 공개하면 주요 활동 지역과 크루 주제에 관심있는 다른 사용자에게 알림을 전송합니다.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">크루 공개</button>
                        </div>
                    </form>
                    <form th:if="${crew.published && !crew.closed}" class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/status/close'}" method="post" novalidate>
                        <div class="alert alert-warning" role="alert">
                            크루 활동을 마쳤다면 크루를 종료하세요.<br/>
                            크루를 종료하면 더이상 팀원을 모집하거나 모임을 만들 수 없으며, 크루 경로와 이름을 수정할 수 없습니다.<br/>
                            크루 모임과 참여한 팀원의 기록은 그대로 보관합니다.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">크루 종료</button>
                        </div>
                    </form>
                    <div th:if="${crew.closed}" class="col-sm-12 alert alert-info">
                        이 크루는 <span class="date-time" th:text="${crew.closedDateTime}"></span>에 종료됐습니다.<br/>
                        다시 크루를 진행하고 싶다면 새로운 크루를 만드세요.<br/>
                    </div>
                </div>

                <hr th:if="${!crew.closed && !crew.recruiting && crew.published}"/>
                <div class="row" th:if="${!crew.closed && !crew.recruiting && crew.published}">
                    <h5 class="col-sm-12">팀원 모집</h5>
                    <form class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/recruit/start'}" method="post" novalidate>
                        <div class="alert alert-info" role="alert">
                            팀원을 모집합니다.<br/>
                            충분한 크루 팀원을 모집했다면 모집을 멈출 수 있습니다.<br/>
                            팀원 모집 정보는 5분에 한번만 바꿀 수 있습니다.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">팀원 모집 시작</button>
                        </div>
                    </form>
                </div>

                <hr th:if="${!crew.closed && crew.recruiting && crew.published}"/>
                <div class="row" th:if="${!crew.closed && crew.recruiting && crew.published}">
                    <h5 class="col-sm-12">팀원 모집</h5>
                    <form class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/recruit/stop'}" method="post" novalidate>
                        <div class="alert alert-primary" role="alert">
                            팀원 모집을 중답합니다.<br/>
                            팀원 충원이 필요할 때 다시 팀원 모집을 시작할 수 있습니다.<br/>
                            팀원 모집 정보는 5분에 한번만 바꿀 수 있습니다.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">팀원 모집 중단</button>
                        </div>
                    </form>
                </div>

                <hr th:if="${!crew.closed}"/>
                <div class="row" th:if="${!crew.closed}">
                    <h5 class="col-12">크루 이름</h5>
                    <form class="needs-validation col-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.title} + '/settings/status/title'}" method="post" novalidate>
                        <div class="alert alert-warning" role="alert">
                            크루 이름을 수정합니다.<br/>
                        </div>
                        <div class="form-group">
                            <label for="title">크루 이름</label>
                            <input id="title" type="text" name="newTitle" th:value="${crew.title}" class="form-control"
                                   placeholder="크루 이름" aria-describedby="titleHelp" required maxlength="50">
                            <small id="titleHelp" class="form-text text-muted">
                                크루 이름을 50자 이내로 입력하세요.
                            </small>
                            <small class="invalid-feedback">크루 이름을 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${crewTitleError}" th:text="${crewTitleError}">Title Error</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">크루 이름 수정</button>
                        </div>
                    </form>
                </div>

                <hr/>
                <div class="row" th:if="${crew.isRemovable()}">
                    <h5 class="col-sm-12 text-danger">크루 삭제</h5>
                    <form class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/status/remove'}" method="post" novalidate>
                        <div class="alert alert-danger" role="alert">
                            크루를 삭제하면 크루 관련 모든 기록을 삭제하며 복구할 수 없습니다. <br/>
                            <b>다음에 해당하는 크루는 자동으로 삭제 됩니다.</b>
                            <ul>
                                <li>만든지 1주일이 지난 비공개 크루</li>
                                <li>크루 공개 이후, 한달 동안 모임을 만들지 않은 크루</li>
                                <li>크루 공개 이후, 모임을 만들지 않고 종료한 크루</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp">크루 삭제</button>
                        </div>
                    </form>
                </div>
                <div class="row" th:if="${!crew.isRemovable()}">
                    <h5 class="col-sm-12 text-danger">크루 삭제</h5>
                    <form class="col-sm-12" action="#" th:action="@{'/running-mate/crew/' + ${crew.getTitle()} + '/settings/status/remove'}" method="post" novalidate>
                        <div class="alert alert-danger" role="alert">
                            공개 중이고 모임을 했던 크루는 삭제할 수 없습니다.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp" disabled>크루 삭제</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer.html :: footer"></div>
    </div>
    <script th:replace="fragments/message-close.html :: message-close"></script>
    <script th:replace="fragments/tooltip.html :: tooltip"></script>
    <script th:replace="fragments/form-validation.html :: form-validation"></script>
</body>
</html>