<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments/main-nav.html :: main-nav"></nav>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments/settings-menu.html :: settings-menu(currentMenu='notifications')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert" id="message-box">
                <span th:text="${message}">완료</span>
                <button type="button" class="btn-close" id="closeBtn" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-12">알림 설정</h2>
            </div>
            <div class="row mt-3">
                <form class="col-12" action="#" th:action="@{/running-mate/settings/notifications}" th:object="${notifications}" method="post" novalidate>
                    <div class="alert alert-light" role="alert">
                        <strong><a href="#" th:href="@{/running-mate/settings/locations}">주요 러닝 희망 지역</a>에
                            <a href="#" th:href="@{/running-mate/settings/keywords}">러닝 목적</a>의 러닝 크루가 만들어졌을 때</strong> 알림을 받을 방법을 설정하세요.
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningCreatedByEmail}" class="form-check-input" id="runningCreatedByEmail">
                            <label class="form-check-label" for="runningCreatedByEmail">이메일로 받기</label>
                        </div>
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningCreatedByWeb}" class="form-check-input" id="runningCreatedByWeb">
                            <label class="form-check-label" for="runningCreatedByWeb">웹으로 받기</label>
                        </div>
                    </div>
                    <div class="alert alert-light" role="alert">
                        <strong>러닝 크루 참가 신청</strong> 결과 알림을 받을 방법을 설정하세요.
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningRecruitByEmail}" class="form-check-input" id="runningRecruitByEmail">
                            <label class="form-check-label" for="runningRecruitByEmail">이메일로 받기</label>
                        </div>
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningRecruitByWeb}" class="form-check-input" id="runningRecruitByWeb">
                            <label class="form-check-label" for="runningRecruitByWeb">웹으로 받기</label>
                        </div>
                    </div>
                    <div class="alert alert-light" role="alert">
                        <strong>참여중인 러닝 크루</strong>에 대한 알림을 받을 방법을 설정하세요.
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningUpdatedByEmail}" class="form-check-input" id="runningUpdatedByEmail">
                            <label class="form-check-label" for="runningUpdatedByEmail">이메일로 받기</label>
                        </div>
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" role="switch" th:field="*{runningUpdatedByWeb}" class="form-check-input" id="runningUpdatedByWeb">
                            <label class="form-check-label" for="runningUpdatedByWeb">웹으로 받기</label>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer.html :: footer"></div>
</div>
<script th:replace="fragments/message-close.html :: message-close"></script>
</body>
</html>